.detailsWindow {
    overflow-y: auto;
}

.detailsWindow span {
    font-size:16px;
    font-family: Calibri, serif;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.8), 1px -1px 1px rgba(0,0,0,0.8), -1px 1px 1px #000, 1px 1px 1px rgba(0,0,0,0.8);
    padding:2px;
}

.detailsWindow_bar {
    height:22px;
    width:0%;
    margin:2px 0px;
    /*padding:3px;*/

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
    position:relative;
}

.detailsWindow_val {
    text-align:right;
}

.detailsWindow_name {
    overflow:hidden;
    padding:2px;
}

.detailsWindow_icon {
    padding-top:2px;
    max-height:22px;
    min-height:22px;
    min-width: 22px
}

.detailsWindow_text {
    position:absolute;
    left:35px;
    margin-top:1px;
    width:80%;
    display:flex;
    justify-content: space-between;
}

.detailsWindow_Row {
    display:flex;
    flex-wrap:nowrap;
    width:100%;

}

#details_abilitiesWindow {
    background-color: rgba(0,0,0,0.7);
    overflow:hidden;
}



/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.17);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}