html {
    background-color: #343434;
    color: #d1d1d1;
    font-family: Consolas, monospace;
}

canvas,body,html {
    padding:0;
    margin:0;
}

*{
    overflow: hidden;
}

#test {
    position:fixed;
    top:10px;
    left:48%;
}

#ui {
    position:fixed;
    top:0;
    left:0;
}