#ui {
    position:fixed;
    top:0;
    left:0;
}

#stats_parent {
    position:fixed;
    top:100px;
    left:10px;
}

#actionBars_parent {
    position:fixed;
    bottom:5px;
    left:50%;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin-left:-570px;
    width: 1140px;
    height: 120px;
    justify-content: center;
}

.action {
    position:relative;
    background-color: rgba(0, 0, 0, 0.2);
    width: 45px;
    height: 45px;
    margin:1px;
}

.actionBar {
    background-color: rgba(0, 0, 0, 0.06);
    padding:2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display:flex;
    /*flex-direction: row;*/
}

.action_gcd {
    position:absolute;
    width:100%;
    height:0%;
    background-color: rgba(0,0,0,0.65);
    box-sizing: border-box;
}

.action_cd {
    position:absolute;
    width:100%;
    height:0%;
    background-color: rgba(0,0,0,0.7);
    box-sizing: border-box;
}

.ab_keybind {
    position:absolute;
    width:30px;
    top:0;
    right:2px;
    text-align:right;
    font-size:18px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.ab_charges {
    position:absolute;
    top:22px;
    right:2px;
    font-size:22px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.ab_cdText {
    color: #fffaa5;
    position:absolute;
    top:10px;
    left:0px;
    width:100%;
    text-align: center;
    font-size:18px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#buffsDebuffs_parent {
    position:fixed;
    top:5px;
    right:250px;
}

#top_buff,#bottom_buff,#top_debuff,#bottom_debuff {
    display:flex;
    flex-direction: row-reverse;
    margin:4px;
}

#buff_bar {
    margin-bottom:30px;
}

.buff_div,.debuff_div {
    position:relative;
    width:40px;
    height:45px;
    /*background-color: rgba(0, 0, 0, 0.05);*/
    margin: 1px 1px 2px;
}

.buff_div span,.debuff_div span {
    position:absolute;
    text-align:center;
    left:0;
    bottom:0;
    font-size:12px;
    width: 100%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.buff_div img,.debuff_div img {
    padding-left:5px; /*7*/
    max-height:65%;
}

.buff_stacks {
    position:absolute;
    text-align:right;
    right:0px;
    top:10px;
    font-size:18px !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#_message {
    opacity: 0;
    transition: opacity .25s;
    position:absolute;
    text-align: center;
    top: 120px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.creature_bar_debuffs {
    position:relative;
    width:20px;
    overflow:visible;
    opacity:0.75;

}

.creature_bar_debuffs span {
    position:absolute;
    width:20px;
    text-align: center;
    top:0;
    left:0;
    font-size: 12px;
    color:#ffffff;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.8), 1px -1px 1px rgba(0,0,0,0.8), -1px 1px 1px #000, 1px 1px 1px rgba(0,0,0,0.8);
}

.creature_bar_debuffs img {
    width:100%;
    height:100%;
}

