#window {
    position:fixed;
    z-index: 100;
    top:4.62vh;
    left:2.6vw;
    background-color: #342b1b;
    color:#FFF;
    overflow:auto;
    border-radius:3px;
}

.windowHeader {
    font-size: 1.3vw;;
    padding:0.3vw;
    margin-bottom:0.5vw;
    display:flex;
    justify-content: space-between;
}

.windowBody {
    font-size:0.72vw;
    padding:0.5vw;
}

.window_settings_button {
    background-color: rgba(255, 255, 255, 0);
    font-size:0.72vw;
    padding:2px 5px 2px 5px;
    margin:0 3px 0 3px;
    border:1px solid rgba(255,255,255,0.2);
    border-radius: 2px;
    color:#FFF;
}

.window_settings_button_true {
    border:1px solid rgba(255,255,255,1) ;
    background-color: rgba(255, 255, 255, 0.2) ;
}

.window_settings_button:hover {
    background-color: #444144;
}

.window_settings_flex {
    display:flex;
    justify-content: space-between;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
}

.window_settings_category {
    padding-top: 1vw;
    padding-bottom: 0.2vw;
    font-size: 1vw;
}

.window_talentRow {
    display: flex;
    justify-content: space-between;
    width:34vw;
}

.window_talentButton {
    background-color: rgba(255,255,255,0);
    border: 1px solid rgba(255,255,255,0.2);
    display:flex;
    width:10vw;
    padding:0.5vw;
    margin:0.4vw 0 0.4vw 0;
}

.window_talentButton:hover {
    background-color: rgba(255,255,255,0.15);
}

.window_talentButtonSelected {
    border: 1px solid rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.2);
}

.window_talentButtonImg {
    width:1.5vw;
    height:1.5vw;
    margin-right:0.3vw;
}
.window_talentName {
    width:8vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.window_talentName span {
     width:8vw;
 }

.window_spellbook_div {
    height: 3vw;
    margin:2px;
    margin-left:8px;
    padding:2px;
    border:1px solid rgba(255,255,255,0.15);
    background-color: rgba(255,255,255,0.05);
    font-size:0.8vw;
}

.window_spellbook_div:hover {
    background-color: rgba(255,255,255,0.15);
}

.window_spellbook_div img {
    margin-top:0.5vw;
    width:2vw;
    height:2vw;
    min-width:2vw;
}